.table {
    width: 60%;
    margin: auto;
    float: center;
}

.pagination li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    margin: auto;
}

.pagination li.active {
    background-color: black;
    border-radius: 30px;

}

.pagination li.active a {
    color: white;

}

.pagination li:hover:not(.active) {
    background-color: #ddd;
    border-radius: 30px;
}

.pagination {
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

a {
    color: black;
}